@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #05122c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  /* Global rules */
  .container {
    @apply px-4 mx-[auto] md:w-[750px] lg:w-[970px] desktop:w-[1170px];
  }
  /* End global rules */

  /* Start Header */
  header nav li a {
    @apply flex justify-center items-center relative px-5 text-white text-lg font-bold capitalize h-20 overflow-hidden tab:block tab:h-10 tab:text-sm md:text-lg;
  }

  header nav li a::before {
    @apply content-[""] absolute h-[2px] w-[100%] bg-Color-Cyan bottom-0 left-[-100%] duration-300 tab:hidden;
  }

  header nav li:hover a {
    @apply text-Color-Cyan duration-300;
  }

  header nav li:hover a::before {
    @apply left-0;
  }

  @media only screen and (max-width: 991px) {
    header nav {
      @apply fixed top-[-100vh] left-0 h-full w-full flex flex-col items-center justify-center gap-6 duration-500 bg-Color-Dark-Blue;
    }

    header nav.responsive_nav {
      transform: translateY(100vh);
    }
  }
  /* End Header */

  /* Start Landing */
  .countdown_container div {
    @apply bg-Color-Cyan text-white p-4 rounded-lg text-center text-2xl font-bold w-24 ph:text-lg;
  }

  .countdown_container div small {
    @apply text-lg ph:text-sm font-normal;
  }
  /* End Landing */

  /* Start Forms */
  .input-container {
    @apply flex flex-col mb-4;
  }

  .input-container label {
    @apply text-white ml-8 mb-2 max-w-[280px];
  }

  .input-container input,
  .input-container textarea,
  .input-container select {
    @apply border-2 border-solid border-Color-Cyan w-80 py-2.5 px-4 outline-0 rounded-lg text-white bg-transparent relative;
  }

  .input-container select option {
    @apply text-black;
  }

  .input-container .input-error {
    @apply border-2 border-solid border-[#ff001a];
  }

  .radio-input span {
    @apply inline-block w-5 h-5 border-2 border-solid border-Color-Cyan rounded-[50%] relative left-0 cursor-pointer;
  }

  .radio-input span::before {
    @apply content-[""] w-3 h-3 rounded-[50%] bg-Color-Cyan absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] hidden;
  }

  .radio-input input[type="radio"] {
    @apply opacity-0 absolute top-[10%] left-[35%] z-10 cursor-pointer;
  }

  .radio-input input[type="radio"]:checked + span::before {
    @apply inline-block;
  }

  .radio-input .radio-error {
    @apply border-2 border-solid border-[#ff001a];
  }

  input[type="file"]::file-selector-button {
    @apply text-white text-sm bg-Color-Cyan py-1 px-2 absolute right-2 top-[50%] translate-y-[-50%] border-0 outline-0 rounded-lg cursor-pointer;
  }
  /* End Forms */

  /* Form Portal */
  .error-pup-up h3,
  .success-pup-up h3 {
    @apply font-bold text-lg text-Color-Dark-Blue ph:text-sm mb-4;
  }

  .error-pup-up p,
  .success-pup-up ul {
    @apply p-2;
  }

  .portal button,
  .portal button {
    @apply bg-Color-Cyan text-white px-4 py-2 rounded-lg;
  }
}
